/* ====================GENERAL==================== */
.container {
    width: 90vw;
    margin: 0 auto;
}

/* ====================HEADER==================== */
header {
    height: 32rem;
    background-image: url("./../assets/header-bg.png");
}

.header-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 5rem;
}

/* ====================MAIN==================== */
h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.4rem;
    text-align: center;
    color: var(--color-title-1);
    margin: 3.75rem 0 3.75rem 0;
}

/* ====================NAV BAR==================== */
nav {
    width: 40vw;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar > li {
    font-family: Poppins;
    color: var(--color-grey-3);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    border: .3rem solid transparent;
}

.nav-bar > li:hover {
    border-bottom: .3rem solid var(--color-primary);
    cursor: pointer;
}

/* ====================CARD LIST==================== */
#card-list {
    height: 37.5rem;
    width: 60vw;
    margin: 3.75rem auto;
    overflow: auto;
    /* Test */
    gap: 1.25rem;
    display: flex;

    /* Test two */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

/* Test Three */
#card-list ::-webkit-scrollbar {
    /* border-radius: 1.25rem; */
    background-color: var(--color-grey-3);
    border: 0.18rem solid var(--color-grey-2)
}

/* ====================CARD==================== */
.card {
    height: 13.7rem;
    width: 22.5rem;
    border-radius: .3rem;
    transform-style: preserve-3d;
    border: .23rem solid black;
    display: flex;
    flex-direction: column;
}

.flip {
    transform: rotateY(180deg);
}

.face {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.title-card {
    background-color: var(--color-primary);
    height: 2.8rem;
    width: 100%;
    /* border-radius: .3rem; */
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4rem;
    text-align: center;
    padding: .6rem;
    
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.card-data {
    height: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
  }

.front,
.back {
    /* border-radius: .3rem; */
    display: flex;
    flex-direction: column;
    background-image: url("./../assets/card-bg.png");
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}

.card-data > li,
.card-data > ul,
.card-data > ul > li {
  width: 10rem;
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: left;
}

.front > p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4rem;
    text-align: left;
}

/* ====================FOOTER==================== */
footer {
    height: 11rem;
    background-image: url("./../assets/footer-bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
  
.footer-position {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: center;
    gap: 1.5rem;
}

/* ====================MOBILE==================== */
